
<footer>
            
    <div  style="padding-top:40px;height: auto;margin-top: 5%;">
      <div class="row " style="color:#000">

       
        <div class="col-lg-4 col-sm-12 col-md-12" >
       <!-- <h5 style="color:#000">CONTACT<br></h5>
      
      <table>
      <tr>
        <th><i class="fa fa-phone"style="font-size:28px;color:#000"></i></th>
        <th style=" font-weight: normal;">&nbsp;&nbsp;&nbsp;+216 71 698 697</th>
      </tr>
      <tr>
        <td> </td>
        <td>&nbsp;&nbsp;&nbsp;+216 51 698 697</td>
      </tr>
      <tr>
        <td>&nbsp; </td>
        <td> &nbsp;</td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope"style="font-size:28px;color:#000"></i></td>
        <td>&nbsp;&nbsp;&nbsp;bluetwins@gmail.com</td>
      </tr>
    </table>
      
  -->
        </div>            
        <div class="col-lg-4 col-sm-12 col-md-12">
          <p class="row social-media d-flex justify-content-center  " style="opacity: 0.7;">
            <i class="fa fa-facebook-square col-2"style="font-size:20px;color:#000"></i>
            <i class="fa fa fa-instagram col-2"style="font-size:20px;color:#000"></i>
            <i class="fa fa fa-twitter-square col-2"style="font-size:20px;color:#000"></i>
            <i class="fa fa fa-linkedin-square col-2"style="font-size:20px;color:#000"></i>
            <i class="fa fa fa-pinterest col-2"style="font-size:20px;color:#000"></i>
            </p>
            <br>
            <div class="col-12 d-flex justify-content-center" ><img src="assets/images/logo_footer.png" width="40%" alt="Responsive image"></div>
      <!--    <form  (submit)="onSubmit($event)" >
        <div >
          <h6 style="font-size:20px">NEWSLETTER</h6>
          <input type="text" #emailControl
          myEmailControl name='news'style="width:200px;height:30px;border: 1px solid;"><button type="submit">suscribe</button>
      </div>
      </form>
    -->
        </div>
        <div class="col-lg-4 col-sm-12 col-md-12 d-flex align-items-end flex-column" >
  
          <ul style="list-style:none;margin-left:2px;padding-left:2px; width: 300px;" *ngFor="let boutique of boutiques"  >
           <li>{{boutique.lib_boutique}}</li>
          
          </ul>
 
         </div>
      </div>
    </div>
    <div style="background-color: #000; text-align: center;color: #e4e4e4;">
        <p style="font-weight: bold;">© copyright 2020 | GudzBulk</p>
        </div>
    </footer>