<div class="text-center container d-flex align-content-center flex-wrap cover"  style="background-image:  url('assets/images/Cover.png');">
  <div class="row   ">
    <div class="banner-left text-left" style="margin-top: 12%;color: white;text-shadow: #000 3px 0 10px;">
        <h1 style="font-size: 70px;">Summer  Chill</h1>
        <h3>New denim looks for summer 2020</h3>
        <h3>Découvrir la collection</h3>
      
        <button type="button" class="btn btn-outline-light" style="width: 150px;margin: 5px;border-radius: 0px;text-shadow: #000 3px 0 10px;">Pour Elle</button>
        <button type="button" class="btn btn-outline-light" style="width: 150px;margin: 5px;border-radius: 0px;text-shadow: #000 3px 0 10px;">Pour Lui</button>

    </div>
</div>
</div>

