  
 
        <div class="row">
          
            <div class="col-lg-8 col-xlg-9 col-md-7 "style="margin-left: 18%;">
                <div class="card">
                    <!-- Tab panes -->
                    <div class="card-body">
                        <form class="form-horizontal form-material" (ngSubmit)="onFormSubmit($event)">
                            <h5  class="card-header" style="font-weight: bold;margin-bottom: 30px;" >CHANGER VOTRE MOT DE PASSE!</h5>

                                
                                <label>Mot de passe actuel</label>
                                <div class="form-group pass_show" > 
                                    <input type="password" value="" name="mot" class="form-control" placeholder="actuel"> 
                                </div> 
                                   <label>Nouvelle mot de passe </label>
                                <div class="form-group pass_show"> 
                                    <input type="password" [value]="" name="mot1" class="form-control" placeholder="Nouvelle"> 
                                </div> 
                                   <label>Confirmer mot de passe</label>
                                <div class="form-group pass_show"> 
                                    <input type="password" [value]="" name="mot2" class="form-control" placeholder="Confirmer"> 
                                </div> 
                                
                           
                            
                            
                            <div class="form-group">
                                <div class="alert alert-warning" role="alert" *ngIf='message && !success'>
                                    {{message}}
                                  </div>
                                  <div class="alert alert-success" role="alert" *ngIf='success'>
                                    {{success}}
                                  </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-dark float-right">Modifier mot de passe </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
       




